.login{
    margin: 0 auto;
    width: 700px;
    .login_row{
        display: flex;
        justify-content: space-between;
        .login_form{
            width: 350px;
            form{
                display: flex;
                flex-direction: column;
                h1{
                    font-family: 'PT Mono';
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    color: #000000;
                }
                p{
                    margin-bottom: 20px;
                    font-family: 'PT Mono';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    color: #000000;
                }
                input{
                    margin-bottom: 20px;
                    font-family: 'PT Mono';
                    width: 300px;
                    padding: 10px 15px;
                    outline: none;
                    border: none;
                    font-size: 17px;
                }
                .form_pass{
                    margin-bottom: 40px;
                }
                .form_submit{
                    width: 100%;
                    background: #000000;
                    padding: 10px 0px;
                    font-family: 'PT Mono';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    color: #FFFFFF;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
            .login_forgot{
                margin-top: 40px;
                text-align: center;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.signup{
    margin: 0 auto;
    width: 750px;
    padding-left: 100px;
    .signup_form{
        form{
            .form_inputs{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .form_input{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    input{
                        outline: none;
                        width: 80%;
                        height: 30px;
                        padding: 5px 10px;
                        margin: 30px 0px 20px 0;
                        border: none;
                        font-family: 'PT Mono';
                        font-size: 17px;
                    }
                    p{
                        font-family: 'PT Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 22px;
                        color: #000000;
                        margin: 0;
                    }
                }
            }
            .form_checkbox{
                display: flex;
                margin-top: 30px;
                align-items: center;
                input{
                    margin-right: 30px;
                    width: 15px;
                    height: 15px;
                    border: #000000;
                }
                p{
                    font-family: 'PT Mono';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    color: #000000;
                    margin: 0;
                }
            }
            button{
                margin-top: 50px;
                background: #000000;
                border: none;
                outline: none;
                cursor: pointer;
                width: 100%;
                padding: 10px;
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #FFFFFF;
            }
        }
    }
    span{
        font-family: 'PT Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
    }
}

.accept{
    margin: 0 auto;
    width: 700px;
    .accept_row{
        .orders{
            display: flex;
            justify-content: space-between;
            p{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
            .services{
                .shop_notfound{
                    margin-top: 70px;
                    font-family: 'PT Mono';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 39px;
                    color: #838383;
                }
                .services_info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .services_info_cost{
                        margin-left: 10px;
                        padding: 20px 0px;
                        span{
                            font-family: 'PT Mono';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 22px;
                            color: #000000;
                            padding-left: 15px;
                        }
                    }
                    .services_info_street{
                        margin-left: 20px;
                        padding: 20px 0px;
                    }
                    .services_info_courier{
                        margin-left: 30px;
                        padding: 20px 0px;
                    }
                } 
            }
            .shop{
                .shop_notfound{
                        margin-top: 70px;
                        font-family: 'PT Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 35px;
                        line-height: 39px;
                        color: #838383;
                }
                .shop_info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .shop_info_name{
                        margin-left: 20px;
                        padding: 20px 0px;
                    }
                    .shop_info_type{
                        margin-left: 30px;
                        padding: 20px 0px;
                    }
                    .shop_info_cost{
                        margin-left: 10px;
                        padding: 20px 0px;
                        span{
                            font-family: 'PT Mono';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 22px;
                            color: #000000;
                            padding-left: 15px;
                        }
                    }

                }
            }
        }
    }
}