


$red: #FF0000;

.shop{
    padding: 0 100px;
    width: 100%;
    .row{
        display: flex;
        flex-direction: column;
        .shop_buttons{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 80px;
            .shop_link{
                cursor: pointer;
            }
            .button_sale{
                color: $red;
            }
            button{
                padding: 4px  60px ;
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: #000000;
                border: none;
            }
            .button_men_active,.button_women_active,.button_sale_active{
                background-color: black;
                color: #ffff;
            }
            
            .shop_cart{
                cursor: pointer;
            }
        }
    }
}

.men_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
    .men_item{
        width: 30%;
        margin: 30px 15px;
        text-decoration: none;
        img{
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .item_name{
            font-family: 'PT Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            color: #000000;
            text-decoration: none;
        }
        .item_info{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .info_type{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
            .info_cost{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
    .men_item_sale{
        width: 30%;
        margin: 30px 15px;
        text-decoration: none;
        img{
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .item_name_cost{
            display: flex;
            justify-content: space-between;
            .item_name{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
                text-decoration: none;
            }
            .item_cost{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: #919191;
                margin-right: 20px;
                text-decoration: line-through;
            }
        }
        .item_info{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .info_type{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
            .info_withSale{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;   
                color: #FF0000;
            }
        }
    }
}


.women_row, .sale_row{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 60px 0px 60px;
    .women_item{
        width: 30%;
        margin: 30px 15px;
        text-decoration: none;
        img{
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .item_name{
            font-family: 'PT Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            color: #000000;
            text-decoration: none;
        }
        .item_info{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .info_type{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
            .info_cost{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
    .women_item_sale, .sale_item{
        width: 30%;
        margin: 30px 15px;
        text-decoration: none;
        img{
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .item_name_cost{
            display: flex;
            justify-content: space-between;
            .item_name{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
                text-decoration: none;
            }
            .item_cost{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: #919191;
                margin-right: 20px;
                text-decoration: line-through;
            }
        }
        .item_info{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .info_type{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
            .info_withSale{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;   
                color: #FF0000;
            }
        }
    }
}

.wear{
    margin-top: 60px;
    .wear_row{
        display: flex;
        justify-content: space-around;
        .wear_image{
            img{
                width: 550px;
                height: 550px;
            }
        }
        .wear_info{
            margin-top: 40px;
            h1{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 34px;
                color: #000000;
                padding: 0 30px;
            }
            p{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #000000;
                padding: 0 30px;
            }
            .info_amount{
                padding: 0 30px;
                .info_am{
                    display: flex;
                    align-items: center;
                    p{
                        margin-left: 25px;
                        font-family: 'PT Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        color: #000000;
                        padding: 0;
                    }
                }
                .checkbox_green{
                    width: 12px;
                    height: 12px;
                    background: #00FF47;
                }
                .checkbox_red{
                    width: 12px;
                    height: 12px;
                    background: #ff3700;
                }
            }
            .info_cost{
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 34px;
                color: #000000
            }
            .info_size{
                display: flex;
                justify-content: left;
                border: 1px solid #000000;
                width: max-content;
                .info_size_button{
                    padding:10px 28px;
                    border: none;
                    cursor: pointer;
                }
                .info_size_button_active{
                    padding:10px 28px;
                    border: none;
                    cursor: pointer;
                    background-color: #000000;
                    color: #ffff;
                }
            }
            .info_buy{
                margin-top: 30px;
                background-color: #000000;
                color: #ffff;
                outline: none;
                border: none;
                padding: 10px 82px;
                cursor: pointer;
            }
        }
    }
}
